.logo {
  width: 20em;
  height: auto;
}

.navbar {
  max-width: 980px;
  width: 100%;
  margin: 1em auto;
  a {
    color:var(--mainDarkerGrey);
  }
  // BOOTSTRAP OVERRIDE 
  background-color: transparent !important;
}

.toolbar {
  width:100%;
  top:0;
  left:0;
  position:fixed;
  background:var(--mainLight);
  height:5em;
  z-index: 1;
  .toolbar__navigation {
    display:flex;
    align-content: center;
    align-items: center;
    height:100%;
    padding:0 1rem;
    .spacer {
      flex:1;
    }
  }
  .toolbar__navigation-items {
    ul {
      list-style: none;
      display:flex;
      align-items: center;
      margin:0 !important; // bootstrap override
    }
    li {
      padding:0 0.5em;
    }
    a {
      color: var(--mainDarkerGrey);
    &:hover,:active {
      color:var(--mainGrey);
    }
    }
  }
  .toolbar__logo {
    margin-left:0.5em;
    a {
      color:var(--mainDarkerGrey);
      font-size: 2em;
      text-decoration: none;
    }
  }
  button {
    font-size:1.5em;
    border:none;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  .cart-icon {
    display: flex;
    button {
      border: none;
    }
  }

  .bag {
    background: transparent;
    padding: 0.5em;
    color: var(--mainDarkerGrey);
    font-size:1.8em;
  }

  .bag:hover {
    color: var(--mainGrey);
    transition: ease-in 0.5s;
  }

  .nav-link {
    position: relative;
    font-weight:900;
    font-size: 1.0em;
    letter-spacing: 0.1em;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 60%;
    height: 1px;
    opacity: 0;
    background-color: var(--mainGrey);
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .toolbar__navigation-items {
    display:none;
  }
  .logo {
    width: 13em;
    height: auto;
  }
}

@media (min-width:600px) {
  .toolbar__toggle-button {
    display:none;
  }
}
