.logo {
  width: 5em;
  height: auto;
}

.navbar {
  max-width: 980px;
  width: 100%;
  margin: 1em auto;
}

.navbar-nav {
  display: flex;
  align-items: center;
  .cart-icon {
    display: flex;
    button {
      border: none;
    }
  }
  .bag {
    padding: 0.5em;
  }
  a:hover {
    text-decoration: underline;
  }
}
