.logo {
  width: 5em;
  height: auto;
}

.navbar {
  max-width: 980px;
  width: 100%;
  margin: 1em auto;
}

.navbar-nav {
  display: flex;
  align-items: center;
  .cart-icon {
    display: flex;
    button {
      border: none;
    }
  }
  .bag {
    padding: 0.5em;
  }
  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 60%;
    height: 1px;
    opacity: 0;
    background-color: var(--mainGrey);
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
    opacity: 1;
  }
}
