.logo {
  width: 20em;
  height: auto;
}

.navbar {
  max-width: 980px;
  width: 100%;
  margin: 1em auto;
}

.navbar-nav {
  display: flex;
  align-items: center;
  .cart-icon {
    display: flex;
    button {
      border: none;
    }
  }

  .bag {
    padding: 0.5em;
    background: var(--mainDark);
    color: var(--mainGrey);
    font-size:1.8em;
  }

  .bag:hover {
    // border: 1px var(--mainGrey) solid;
    color: var(--mainWhite) !important;
    transition: ease-in 0.5s;
  }

  .nav-link {
    position: relative;
    font-weight:900;
    font-size: 1.3em;
    letter-spacing: 0.1em;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 60%;
    height: 1px;
    opacity: 0;
    background-color: var(--mainGrey);
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 13em;
    height: auto;
  }
}
