/* 
<div className={styles.sectionWrapper}>
<section className={styles.contentArea}>
<div className={styles.sticky}> 
https://keithclark.co.uk/articles/pure-css-parallax-websites/
*/

body {
  overflow: hidden;
}

.sectionWrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.contentArea {
  display: block;
  background: #fff;
  z-index: -1;
}

.contentAreaProduct {
  display: block;
  background: #fff;
  z-index: -1;
  height: 100vh;
}

.sticky {
  transform: translateZ(-1px) scale(2);
  height: 100vh;
  display: block;
  background: #fff;
}

.stickySmall {
  transform: translateZ(-1px) scale(2);
  height: 50vh;
  display: block;
  background: #fff;
}

.contentAreaSmall {
  height: 100vh;
}

.contentAreaBig {
  height: 135vh;
}
