.toggle-button {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:24px;
    width:36px;
    border:none;
    background:transparent;
    cursor: pointer;
    &:focus {
        outline:none;
    }
    .toggle-button__line {
        width:30px;
        height:3px;
        background:var(--mainGrey);
    }
}