@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

h1 {
  font-family: "Grand Hotel", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 90vh;
}

:root {
  --mainPink: #ffa69eff;
  --mainYellowish: #faf3ddff;
  --mainGreen: #b8f2e6ff;
  --mainBlue: #aed9e0ff;
  --mainGrey: #5e6472ff;
  --mainWhite: #ffffffea;
  --mainOffWhite: #faf6d8;
  --mainDark: #161616;
}

.wrapper {
  height: 90vh;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-pink {
  color: var(--mainPink);
  border-color: var(--mainPink);
}

.btn-pink:hover {
  background: var(--mainPink);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}

.btn-green {
  border-color: var(--mainGreen);
  color: var(--mainGrey);
}

.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
  transition: ease-in 0.5s;
}

.btn-yellowish {
  border-color: var(--mainYellowish);
  color: var(--mainWhite);
}

.btn-yellowish:hover {
  background: var(--mainYellowish);
  color: var(--mainDark);
  transition: ease-in 0.5s;
}

.footer {
  background: var(--mainGrey);
  color: var(--mainOffWhite);
}

.menu,
.contact {
  background: var(--mainBlue);
}
