@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

h1 {
  font-family: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainBlack: #000000;
  --mainPink: #ffa69eff;
  --mainYellowish: #faf3ddff;
  --mainGreen: #b8f2e6ff;
  --mainBlue: #aed9e0ff;
  --mainDarkerGrey: #313131;
  --mainWhite: #ffffffea;
  --mainOffWhite: #faf6d8;
  --mainDark: #010101;
  --mainGrey: #767676;
}

body {
  background: var(--mainDark);
  color: var(--mainWhite);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

section {
  // height: 80vh;
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-grey {
  border-color: var(--mainGrey);
  color: var(--mainGrey);
}

.btn-grey:hover {
  background: var(--mainGrey);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}

.footer {
  background: var(--mainGrey);
  color: var(--mainOffWhite);
}

.menu {
  min-height: 80vh;
}

.contact {
  min-height: 50vh;
}

/* Bootstrap Override*/

.prd-item {
  display: flex;
  align-items: center;
}

.prd-item-shop {
  display: flex;
  flex-direction: column;
  align-content: center;
  width:400px;
}

.prd-img {
  max-width: 200px;
  cursor: pointer;
  background-color: #979797;
  border-radius: 50%;
}

.prd-desc {
  display:flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

picture {
  img {
    padding:1.5em !important;
  }
}

/* Animations */

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Snipcart Overwites */

.snip-layout {
  .snip-footer__copyright {
    font-size:0 !important;
    height:20px;
  }
}

.snip-btn--highlight {
  color:#FFFFFF !important;
  background:var(--mainBlack) !important;
  &:hover {
    color:#979797;
  }
}

.snipcart-checkout {
  background:var(--mainBlack);
}
  

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
