* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainBrown: #3b1f1f;
  --mainYellow: rgb(252, 180, 25);
  --mainGrey: #75716c;
  --mainWhite: #ffffffea;
  --mainOffWhite: #faf6d8;
  --mainDark: rgb(22, 22, 22);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.footer {
  background: var(--mainGrey);
  color: var(--mainYellow);
}

.menu,
.contact {
  background: var(--mainGrey);
}
