@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

h1 {
  font-family: "Grand Hotel", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainPink: #ffa69eff;
  --mainYellowish: #faf3ddff;
  --mainGreen: #b8f2e6ff;
  --mainBlue: #aed9e0ff;
  --mainGrey: #5e6472ff;
  --mainWhite: #ffffffea;
  --mainOffWhite: #faf6d8;
  --mainDark: #161616;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

section {
  height: 80vh;
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-pink {
  color: var(--mainGrey);
  border-color: var(--mainPink);
}

.btn-pink:hover {
  background: var(--mainPink);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}

.btn-green {
  border-color: var(--mainGreen);
  color: var(--mainGrey);
}

.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
  transition: ease-in 0.5s;
}

.btn-yellowish {
  border-color: var(--mainYellowish);
  color: var(--mainGrey);
}

.btn-yellowish:hover {
  background: var(--mainYellowish);
  color: var(--mainDark);
  transition: ease-in 0.5s;
}

.footer {
  background: var(--mainGrey);
  color: var(--mainOffWhite);
}

.menu {
  min-height: 80vh;
}

.contact {
  min-height: 50vh;
}

/* Bootstrap Override*/

.prd-item {
  display: flex;
  align-items: center;
}

.prd-item-shop {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Animations */

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
