:root {
  --mainBrown: #3b1f1f;
  --mainYellow: #fcb419;
  --mainGrey: #c7c7c7;
  --mainWhite: #ebebeb;
  --mainDark: rgb(22, 22, 22);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}
